# SBOM and CP-ABE information is optional

[sbom]
files = []

[cp-abe]
# the only requirement is that either both keys
# or neither must be specified
master-key = ""
public-key = ""

[cp-abe.policies]
<policy 1> = ""
<policy 2> = ""

[cp-abe.groups]
<group 1> = ["<attribute A>", "<attribute B>"]

[signing]
signing-key = ""
public-key = ""
