beartype==0.18.5
blinker==1.8.2
boolean.py==4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==43.0.3
defusedxml==0.7.1
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
idna==3.10
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
lib4sbom==0.7.5
license-expression==30.3.1
MarkupSafe==3.0.2
numpy==2.1.1
pandas==2.2.2
platformdirs==4.3.6
ply==3.11
pycparser==2.22
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rdflib==7.0.0
requests==2.32.3
semantic-version==2.10.0
six==1.16.0
sparse-merkle-tree==0.3.0
spdx-tools==0.8.3
typeguard==4.0.0
tzdata==2024.1
uritools==4.0.3
urllib3==2.2.3
virtualenv==20.26.6
Werkzeug==3.0.4
xmltodict==0.13.0
