pip
beartype==0.18.5
boolean.py==4.0
click==8.1.7
defusedxml==0.7.1
distlib==0.3.8
dotenv==0.9.9
filelock==3.16.1
isodate==0.6.1
lib4sbom==0.7.5
license-expression==30.3.1
numpy==2.1.1
pandas==2.2.2
platformdirs==4.3.6
ply==3.11
pycryptodome>=3.21.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rdflib==7.0.0
semantic-version==2.10.0
six==1.16.0
sparse-merkle-tree==0.3.0
spdx-tools==0.8.0a2
typeguard==4.0.0
tzdata==2024.1
uritools==4.0.3
virtualenv==20.26.6
xmltodict==0.13.0
beartype==0.18.5
blinker==1.8.2
boolean.py==4.0
click==8.1.7
defusedxml==0.7.1
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
google==3.0.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
greenlet==3.1.1
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
lib4sbom==0.7.5
license-expression==30.3.1
MarkupSafe==3.0.1
maturin==1.7.4
numpy==2.1.1
pandas==2.2.2
platformdirs==4.3.6
ply==3.11
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rdflib==7.0.0
semantic-version==2.10.0
six==1.16.0
sparse-merkle-tree==0.3.0
spdx-tools==0.8.0a2
SQLAlchemy==2.0.36
tomli>=2.0.2
typeguard==4.0.0
typing_extensions==4.12.2
tzdata==2024.1
uritools==4.0.3
virtualenv==20.26.6
Werkzeug==3.0.4
xmltodict==0.13.0
PyJWT[crypto]>=2.9.0,<3.0.0
tqdm
matplotlib
seaborn